body {
    position: relative;
    margin: 0;
    padding: 0;
    background: url(images/cover4.jpg);
    min-height: 100vh;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
/* ----------------- Navbar (Menu bar) -------------- */
.navbar{
    position: relative;
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    top: 0;
    
}
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu a{
    color: black;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    text-decoration: none;
}
.navbar-menu a:hover{
    color: #48dbfb;
    text-decoration: none;
}
.logo{
    width: 44px;
    height: 32px;
}
/* ----------------- Nav bar (Menu bar) Ends-------------- */

.section {
    margin: 0px 0px 0px 35%;
}
h1{
    font-size: 50px;
}
.section a{
    color: #4152ec;
    text-transform: capitalize;
    font-size: 50px;
}
/* ----------------footer section --------------------- */
footer{
    background-color: black;
    color: white;
    padding: 40px 0px;
    text-align: center;
    position: relative;
    top: 150px;
    bottom: 0;
}

.copyright{
    margin-bottom: 20px;
    font-size:15px;
}
.copyright a{
    color: #48dbfb;
    font-size:16px;
    font-weight: 500;
    text-decoration: none;
}
.socialmedia a {
    padding: 10px;
    text-decoration: none;
    color : #fff;
}
.socialmedia a:hover{
    color: #48dbfb;
}
/* ----------------footer section Ends --------------------- */