body {
    position: relative;
    margin: 0;
    padding: 0;
    background: url(images/cover4.jpg);
    min-height: 100vh;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
/* ----------------- Navbar (Menu bar) -------------- */
.navbar{
    position: relative;
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    top: 0;
    
}
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu a{
    color: black;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    text-decoration: none;
}
.navbar-menu a:hover{
    color: #48dbfb;
    text-decoration: none;
}
.logo{
    width: 44px;
    height: 32px;
}
/* ----------------- Nav bar (Menu bar) Ends-------------- */
/* .login-form{
    margin-top: 0px;
} */
.content{
    position: relative;
    /* margin-top: 350px; */
    top: 110%;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 60px 32px;
    background: rgb(0, 0, 0, 0.5);
    width: 450px;
    border-radius: 10px;  
}
.content header{
    color: #000;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
}
form{
    display: block;
    margin-top: 50px;
}
.form-group{
    margin: 20px 0;
}

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}
.field input{
    text-align: center;
    height: 100%;
    width: 100%;
    background:transparent ;
    color: white;
    font-size: 16px;
    font-family: 'poppins' ,sans-serif;
} 
label{
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #d2d2d2;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: left;
}

input[type="text"], input[type="password"], input[type="number"] , input[type="date"] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
    padding: 1px 2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.field span{
    width: 40px;
    line-height: 45px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    color: #48dbfb ;
}
.pass{
    text-align: center;
    margin: 10px 0;
}
.pass a{
    color: #d62020;
    font-family: 'poppins' ,sans-serif;
    text-decoration: none;
    font-weight: 700;
}
a:hover{
    text-decoration: underline;
}
button{
    background-color: #48dbfb;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 12px ;
    cursor: pointer;
    width: 100%;
}

.one{
    color: #eee;
    font-size: 14px;
    text-align: center;
    margin-top: 2em;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.register{
    color: #00BCD4;
    text-decoration: none;
}
/* ----------------footer section --------------------- */
footer{
    background-color: black;
    color: white;
    padding: 40px 0px;
    text-align: center;
    position: relative;
    top: 150px;
    bottom: 0;
}

.copyright{
    margin-bottom: 20px;
    font-size:15px;
}
.copyright a{
    color: #48dbfb;
    font-size:16px;
    font-weight: 500;
    text-decoration: none;
}
.socialmedia a {
    padding: 10px;
    text-decoration: none;
    color : #fff;
}
.socialmedia a:hover{
    color: #48dbfb;
}
/* ----------------footer section Ends --------------------- */